.title
	position: relative
	font-family: $default-font
	margin-bottom: 45px
	text-align: center
	+r(991)
		margin-bottom: 30px
	+r(575)
		margin-bottom: 10px
	&-left
		text-align: left
		+r(991)
			text-align: center
	&__subtitle
		&_white
			h4
				color: $white
	h1
		font-weight: 700
		font-size: 46px
		letter-spacing: .025em
		text-transform: uppercase
		line-height: 1.2em
		span
			color: $chateau-green
			+r(991)
				display: block
		+r(991)
			font-size: 42px
		+r(767)
			font-size: 36px
		+r(575)
			font-size: 28px
		+r(480)
			font-size: 24px
	h2
		font-weight: 500
		font-size: 72px
		line-height: 1.2em
		font-family: $default-font
		color: $ecstasy
		text-transform: uppercase
		letter-spacing: 0.05em
		+r(1199)
			font-size: 64px
		+r(991)
			font-size: 42px
		+r(767)
			font-size: 36px
		+r(575)
			font-size: 28px
		+r(480)
			font-size: 24px
	h3
		font-weight: 500
		font-size: 36px
		color: $black
		text-transform: uppercase
		line-height: 1.4444444em
		+r(991)
			font-size: 32px
			br
				display: none
		+r(767)
			font-size: 28px
		+r(575)
			font-size: 22px
		span
			color: $ecstasy
	h4
		font-weight: 300
		font-size: 32px
		line-height: 1.5em
		+r(991)
			font-size: 32px
		+r(767)
			font-size: 28px
		+r(575)
			font-size: 24px
		+r(480)
			font-size: 20px
	h5
		font-family: $default-font
		font-weight: 500
		font-style: italic
		line-height: 1.2em
		font-size: 30px
		color: $chateau-green
		position: relative
		display: inline-block
		&::after
			content: url('../img/info-arrow.svg')
			position: absolute
			top: 70%
			right: -70px
		+r(991)
			font-size: 28px
		+r(767)
			font-size: 24px
		+r(575)
			font-size: 20px
	h6
		font-weight: 500
		font-size: 36px
		letter-spacing: 0.05em
		line-height: 1em
		padding-bottom: 15px
		position: relative
		+r(991)
			font-size: 28px
		+r(767)
			font-size: 24px
		+r(575)
			font-size: 20px
		&:before
			content: ''
			width: 50px
			height: 4px
			background: $chateau-green
			position: absolute
			bottom: 0
			left: 0
			+r(991)
				left: 50%
				transform: translateX(-50%)
.button
	border-radius: 6px
	border: 1px solid $ecstasy
	display: inline-block
	padding: 22px 25px 23px
	line-height: 1em
	text-transform: uppercase
	font-family: $default-font
	font-weight: 700
	font-size: 18px
	color: $white
	margin: 0 25px
	background: transparent
	z-index: 20
	transition: all .3s ease
	&:hover
		transition: all .3s ease
		background: rgba(0, 0, 0,.4)
		border: 1px solid transparent
	+r(575)
		font-size: 14px
	&-call
		padding-right: 90px
		background-image: linear-gradient( to bottom, rgb(255,193,46) 0%, rgb(240,134,22) 100%)
		color: $bracken
		box-shadow: 5px 8.66px 15px 0px rgba(0, 0, 0, 0.25),inset 0px -3px 0px 0px rgba(198, 89, 11, 1),inset 0px -5px 11px 0px rgba(253, 134, 44, 1)
		position: relative
		&:hover
			background-image: linear-gradient( to bottom, rgb(255,193,46) 40%, rgb(240,134,22) 100%)
			box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25),inset 0px -4px 0px 0px rgba(198, 89, 11, 1),inset 0px -5px 11px 0px rgba(253, 134, 44, 1)
			&::before
				height: calc( 100% - 4px )
				transition: all .3s ease
		&:active
			box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25),inset 0px -5px 0px 0px rgba(198, 89, 11, 1),inset 0px -5px 11px 0px rgba(253, 134, 44, 1)
			&::before
				height: calc( 100% - 5px )
				transition: all .3s ease
		&::before
			content: ''
			position: absolute
			right: 70px
			top: 0
			width: 1px
			height: calc( 100% - 3px )
			background: $christine
			transition: all .3s ease
		&::after
			content: url('../img/call-brown.svg')
			position: absolute
			width: 20px
			height: 20px
			right: 27px
			top: 50%
			transform: translateY(-50%)
	&-form
		margin: 0
		+r(767)
			margin: 0 auto
	&__wrapper
		&_inline
			display: inline-block
			+r(767)
				display: block
				text-align: center
