html, body
	font-family: $default-font
	font-weight: 400
	font-style: normal
	font-size: 14px
	line-height: 1.5em
	overflow-x: hidden
	position: relative
	min-width: 320px
	min-height: 4000px
section
	position: relative
*
	margin: 0
	padding: 0
ul
	margin: 0
	padding: 0
	list-style-type: none

a,
a:focus,
a:hover
	outline: none
	text-decoration: none

input[type="text"], input[type="tel"]
	border-bottom: 1px solid $silverc-chalice
	color: $white
	border-radius: 0
	line-height: 1em
	padding: 16px 18px
	font-family: $default-font
	box-shadow: none
	font-size: 14px
	width: 100%
	background: transparent
	outline: none
	-webkit-appearance: none
	-moz-appearance: none

	&::placeholder
		color: $white
