//---- BOOTSTRAP GRID ----
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px)


// - - - - FONTS - - - -

$default-font: 'Montserrat', sans-serif;
$helper-font: 'BebasNeue', sans-serif;
$helvetica-font: 'HelveticaNeueCyr', sans-serif;
// - - - - COLORS - - - -

$white: #fff
$black: #000
$diesel: #040000
$pickled-bluewood: #263747
$fiord: #3b556b
$mint-green: #aefc84
$chateau-green: #44b758
$ecstasy: #f5891f
$carrot-orange: #f3921a
$mantis: #7fc451
$bracken: #522c07
$christine: #e7690c
$silverc-chalice: #a2a2a2
$mystic: #dce5ed
$scorpion: #595959
$mine-shaft: #282828
$mirage: #151e26
$emperor: #525252
