<section class="advantages" id="advantages">
  <div class="container">
    <div class="title">
      <h2>
        Преимущества
      </h2>
      <h4>
        при работе с нами
      </h4>
    </div>
    <div class="advantages__wrapper">
      <div class="advantages__block">
        <div class="advantages__img">
          <img src="img/adv-1.png" alt="">
        </div>
        <div class="advantages__text">
          <h3>
            практический Опыт
          </h3>
          <div class="advantages__text_description">
            Опыт <br>
            – решает все
          </div>
          <div class="advantages__text_content">
            <p>
              С 2006 года на рынке! На самом деле мы уже очень долгое время эффективно предоставляем услуги.
            </p>
            <p>
              Проверенная команда сотрудников
            </p>
          </div>
        </div>
      </div>
      <div class="advantages__block">
        <div class="advantages__img">
          <img src="img/adv-2.png" alt="">
        </div>
        <div class="advantages__text">
          <h3>
            удобно для клиентов
          </h3>
          <div class="advantages__text_description">
            работа <br>
            – “под ключ”
          </div>
          <div class="advantages__text_content">
            <p>
              Выполняем сразу полный кровельный пирог – утеплитель, стяжка, гидроизоляция.           </h3>
            </p>
            <p>
              Парк своего оборудования.
            </p>
          </div>
        </div>
      </div>
      <div class="advantages__block">
        <div class="advantages__img">
          <img src="img/adv-3.png" alt="">
        </div>
        <div class="advantages__text">
          <h3>
            доставка и монтаж

          </h3>
          <div class="advantages__text_description">
            нет <br>
            “головной боли”
          </div>
          <div class="advantages__text_content">
            <p>
              Берем на себя полную доставку и монтаж материалов
              для кровли.
            </p>
            <p>
              Вам не нужно ни о чем беспокоиться,
              даже ваше присутствие не обязательно.
            </p>
          </div>
        </div>
      </div>
      <div class="advantages__block">
        <div class="advantages__img">
          <img src="img/adv-4.png" alt="">
        </div>
        <div class="advantages__text">
          <h3>
            гарантия
          </h3>
          <div class="advantages__text_description">
            надежно
          </div>
          <div class="advantages__text_content">
            <p>
              Профессиональный монтаж и гарантия на работы 5 лет.
            </p>
            <p>
              Гарантия на материал 10 лет
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
