<section class="contacts" id="contacts">
  <div id="map">
  </div>
  <div class="contacts__block">
    <div class="title title-left">
      <h6>
        Контакты
      </h6>
    </div>
    <p>
        <span>
        Адрес:
        </span>
      г. Киев, пр-т Воссоединения 19
    </p>
    <p>
      <span>Е-mail:</span> <a href="mailto:5921940@ukr.net">5921940@ukr.net</a>
    </p>
    <p>
      <span>Тел.:</span> <a href="tel:+380679010597">+38 (067) 901-05-97</a>
    </p>
  </div>
</section>
