<section class="first-screen" id="first-screen" style="background-image: url('img/first-screen-bg.jpg')">
  <div class="container">
    <div class="title">
      <h1>
        гидроизоляция плоской кровли
        частного дома <span>«под ключ» за 10 дней</span>
      </h1>
    </div>
    <div class="first-screen__sub-title">
      Комплексный подход к строительству и гидроизоляции плоской кровли:
    </div>
    <ul class="first-screen__list">
      <li>
       Утепление кровли
      </li>
      <li>
        Создание цементно-песчаной стяжки разуклонки
      </li>
      <li>
       Гидроизоляция ПВХ мембранами
      </li>
    </ul>
    <div class="first-screen__description">
      <strong>
        150
      </strong>
      <p>
        Уже более 150 выполненных <br>
        обьектов…
      </p>
    </div>
    <div class="button__wrapper">
      <a href="#" class="button button-call callback-modal_open modal_open">
        Заказать звонок
      </a>
      <a href="#reviews" class="button button-scroll">
        Посмотреть примеры
      </a>
    </div>
  </div>
</section>
