<footer class="footer">
  <div class="container">
    <div class="footer__content">
      Copyright © 2010-2018 Запрещено любое копирование материалов ресурса без письменного согласия владельца. Все права защищены.
    </div>
  </div>
</footer>
