<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <a href="#"><img src="img/logo.jpg" alt=""></a>
      </div>
      <ul class="nav">
        <li>
          <a href="#advantages">
            Преимущества
          </a>
        </li>
        <li>
          <a href="#reviews">
            Отзывы
          </a>
        </li>
        <li>
          <a href="#reviews">
            Фотогалерея
          </a>
        </li>
        <li>
          <a href="#contacts">
            Контакты
          </a>
        </li>
      </ul>
      <div class="callback">
        <a href="tel:+380679010597" class="callback__tel">
          067-901-05-97
        </a>
        <a href="#" class="callback-modal_open  modal_open">
          Заказать звонок
        </a>
      </div>
      <div class="nav__button">
        <div class="nav__button_bar"></div>
      </div>
    </div>
  </div>
</header>
