<section class="how-we-works">
  <div class="container">
    <div class="title title-left title__subtitle_white">
      <h2>
        как мы работаем
      </h2>
      <h4>
        или что произойдет в результате
      </h4>
    </div>
    <div class="how-we-works__steps-block">
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>01</span> этап
        </div>
        <div class="how-we-works__step_text">
          Вы звоните нам <span>или</span>
          <div class="button__wrapper_inline">
            <div class="button button-form button-call modal_open">
              Отправить заявку
            </div>
          </div>
        </div>
      </div>
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>02</span> этап
        </div>
        <div class="how-we-works__step_text">
          <p>Бесплатный выезд <br>
          на замер и расчет стоимости.</p>
        </div>
      </div>
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>03</span> этап
        </div>
        <div class="how-we-works__step_text">
          <p>Предоставление <br>
          полной <br>
          сметы до “дюбеля”.</p>
        </div>
      </div>
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>04</span> этап
        </div>
        <div class="how-we-works__step_text">
          <p>
            Подписание договора.
          </p>
          <p>
            Предварительный аванс <br>
          на материалы и работы.
          </p>
        </div>
      </div>
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>05</span> этап
        </div>
        <div class="how-we-works__step_text">
          <p>
            Полный монтаж <br>
            кровли.
          </p>
        </div>
      </div>
      <div class="how-we-works__step">
        <div class="how-we-works__step_number">
          <span>06</span> этап
        </div>
        <div class="how-we-works__step_text">
          <p>
            Окончательный <br>расчет.
          </p>
          <p>
            Гарантии.
          </p>
          <p>
            Постгарантийное <br>
            обслуживание.
          </p>
        </div>
      </div>
    </div>
    <div class="how-we-works__wrapper" >
      <div class="how-we-works__slider">
        <div class="title">
          <h5 >
            Вы получаете <br>
            готовую профессиональную кровлю!
          </h5>
        </div>
        <div class="how-we-works__slider_wrapper"  id="reviews">
          <div class="how-we-works__slider_wrapper-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    Осокорки Киевская область.
                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">
                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Александр.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          После неудачного опыта с рубероидом решил поменять гидроизоляционный материал, узнал что есть ПВХ мембрана.
                        </p>
                        <p>
                          Кроме кровли у меня большая открытая терраса.
                        </p>
                        <p>
                          Не знал как правильно сделать выход из дверей, но в компании специалисты все мне рассказали и сделали.
                        </p>
                        <p>
                          Прошли дожди осенью и выпал снег, терраса у меня открытая слава богу не течёт!!!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/alex_osokorki_1.jpg" data-fancybox="gallery-three">
                        <img src="img/alex_osokorki_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/alex_osokorki_2.jpg" data-fancybox="gallery-three">
                        <img src="img/alex_osokorki_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/alex_osokorki_3.jpg" data-fancybox="gallery-three">
                        <img src="img/alex_osokorki_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/alex_osokorki_4.jpg" data-fancybox="gallery-three">
                        <img src="img/alex_osokorki_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    г.Киев

                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">
                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Роман.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          Имею свое небольшое здание в центре города.
                        </p>
                        <p>
                          Зданию семь лет, уже два раза ремонтировал старую кровлю.
                        </p>
                        <p>
                          В этом году решил категорически изменить гидроизоляцию кровлю и применить ПВХ мембрану.
                        </p>
                        <p>
                          Переживания, что с новой гидроизоляцией и дальше будут затекания исчезли, новая гидроизоляция из мембраны уже выдержала осенние дожди и ливни.
                        </p>
                        <p>
                          Сейчас зима мороз, периодически наблюдаю за кровлей.
                        </p>
                        <p>
                          Вроде все ок.
                        </p>
                        <p>
                          Ребята порядочные, сделали все за неделю площадь моей кровли 280 метров квадратных.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/roman_kiev_1.jpg" data-fancybox="gallery-four">
                        <img src="img/roman_kiev_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/roman_kiev_2.jpg" data-fancybox="gallery-four">
                        <img src="img/roman_kiev_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/roman_kiev_3.jpg" data-fancybox="gallery-four">
                        <img src="img/roman_kiev_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/roman_kiev_4.jpg" data-fancybox="gallery-four">
                        <img src="img/roman_kiev_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    с.Лесники.
                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">

                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Олег.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          У меня преимущественно глиняный участок, не знал как сделать отвод дождевой воды с крыши чтобы вода не стояла под домом.
                        </p>
                        <p>
                          После встречи, подсказали как лучше отвезти дождевую воду от дома и сделать внутренний водоотвод. На крыше применил самую толстую кровельную мембрану 1,5 мм.
                        </p>
                        <p>
                          В процессе работы еще заказал дополнительную гидроизоляцию фундамента.
                        </p>
                        <p>
                          Спасибо.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/oleg_lesniki_1.jpg" data-fancybox="gallery-five">
                        <img src="img/oleg_lesniki_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/oleg_lesniki_2.jpg" data-fancybox="gallery-five">
                        <img src="img/oleg_lesniki_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/oleg_lesniki_3.jpg" data-fancybox="gallery-five">
                        <img src="img/oleg_lesniki_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/oleg_lesniki_4.jpg" data-fancybox="gallery-five">
                        <img src="img/oleg_lesniki_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    С.Гореничи, Киевская область.
                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">

                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Игорь.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          Не знал вообще как к кровле подойти и не было проекта, но в компании мне всё достойно  рассказали, предоставили стандартное решение плоской кровли из пвх мембраны.
                        </p>
                        <p>
                          Выполнили утепление, гидроизоляцию из кровельной ПВХ мембраны.
                        </p>
                        <p>
                          Отличный материал, прочный и полностью подходящий к моему проекту.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/igor_gorenichi_1.jpg" data-fancybox="gallery-one">
                        <img src="img/igor_gorenichi_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/igor_gorenichi_2.jpg" data-fancybox="gallery-one">
                        <img src="img/igor_gorenichi_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/igor_gorenichi_3.jpg" data-fancybox="gallery-one">
                        <img src="img/igor_gorenichi_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/igor_gorenichi_4.jpg" data-fancybox="gallery-one">
                        <img src="img/igor_gorenichi_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    Коттеджный городок «ГринВуд».

                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">

                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Евгений.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          Долго выбирал между битумной гидроизоляцией и пвх мембраной.
                        </p>
                        <p>
                          Были сомнения, но после встречи и консультации даже убедили приехать на существующий объект в процессе выполнения.
                        </p>
                        <p>
                          Все посмотрев, решил на кровлю применить кровельную мембрану 1.5 мм.
                        </p>
                        <p>
                          Крыша у меня двухуровневая, уже второй год, затеканий нигде нет.
                        </p>
                        <p>
                          Очень доволен.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/evgeniy_grinvyd_1.jpg" data-fancybox="gallery-two">
                        <img src="img/evgeniy_grinvyd_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/evgeniy_grinvyd_2.jpg" data-fancybox="gallery-two">
                        <img src="img/evgeniy_grinvyd_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/evgeniy_grinvyd_3.jpg" data-fancybox="gallery-two">
                        <img src="img/evgeniy_grinvyd_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/evgeniy_grinvyd_4.jpg" data-fancybox="gallery-two">
                        <img src="img/evgeniy_grinvyd_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="how-we-works__slider_text">
                  <h3>
                    с.Подгорцы Киевская область
                  </h3>
                  <div class="how-we-works__slider_author">
                    <div class="how-we-works__slider_img">
                      <img src="img/man.jpg" alt="">

                    </div>
                    <div class="how-we-works__slider_info">
                      <h4>
                        Ирина.
                      </h4>
                      <div class="how-we-works__slider_review">
                        <p>
                          Здравствуйте это моё первое строительство в жизни, надеюсь что и последнее.
                        </p>
                        <p>
                          Долго выбирала Подрядчиков по плоском крышам.
                        </p>
                        <p>
                          После более детального анализа решила применить ПВХ мембрану Fatrafol 1,5 мм.
                        </p>
                        <p>
                          Кровельная компания доступно мне все рассказала, полностью предоставила просчет на материалы и работы.
                        </p>
                        <p>
                          Я согласилась, т.к они выполняют полный комплекс и  утепление и цементно-песчаную стяжка разу колонку и гидроизоляцию.
                        </p>
                        <p>
                          Мой дом 250 квадратов за две недели все было сделано. Работами довольна.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container how-we-works__slider_container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="img/irina_1.jpg" data-fancybox="gallery-two">
                        <img src="img/irina_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/irina_2.jpg" data-fancybox="gallery-two">
                        <img src="img/irina_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/irina_3.jpg" data-fancybox="gallery-two">
                        <img src="img/irina_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="img/irina_4.jpg" data-fancybox="gallery-two">
                        <img src="img/irina_4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>

      </div>
      <form action="" class="form">
        <!--<img src="img/idea-fix.png" alt="" class="idea-fix">-->
        <div class="form__border">
          <h5>
            Получить консультацию
          </h5>
          <p>
            Встреча, консультация и смета – БЕСПЛАТНО. Это ни к чему вас не обязывает в будущем.
          </p>
          <div class="form__wrapper">
            <label>
              <input type="text" name="name" placeholder="Введите имя" required>
            </label>
            <label>
              <input type="tel" name="tel" placeholder="Введите телефон" required>
            </label>
            <button class="button button-form button-call">
              Заказать звонок
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
