<div id="modal" class="modal">
    <form action="" class="form">
      <div class="form__border">
        <h5>
          Получить консультацию
        </h5>
        <p>
          Встреча, консультация и смета – БЕСПЛАТНО. Это ни к чему вас не обязывает в будущем.
        </p>
        <div class="form__wrapper">
          <label>
            <input type="text" name="name" placeholder="Введите имя" required>
          </label>
          <label>
            <input type="tel" name="tel" placeholder="Введите телефон" required>
          </label>
          <button class="button button-form button-call">
            Заказать звонок
          </button>
        </div>
      </div>
  </form>
</div>
<div id="thanks" class="modal">
  <div class="title">
    <h2>
      Спасибо за заявку
    </h2>
    <h4>
      Наши менеджеры свяжуться с вами
    </h4>
  </div>
</div>

<a href="#first-screen" class="up-scroll">
  <img src="img/scroll.svg" alt="">
</a>
