<section class="why">
  <div class="container">
    <div class="title">
      <h3>
        <span>ПОЧЕМУ</span> строительство и монтаж <br> плоской кровли <span>АССОЦИИРУЕТСЯ С ПРОБЛЕМАМИ?</span>
      </h3>
    </div>
    <div class="why__question">
      Как качественно и быстро сделать кровлю своего дома?
    </div>
    <div class="why__content">
      <div class="why__block_wrapper">
        <div class="why__block">
        <span>
          01
        </span>
          <h4>
            кровельный «ПИРОГ»
          </h4>
          <p>
            Незнание устройства плоской кровли.
          </p>
        </div>
        <div class="why__block">
        <span>
          02
        </span>
          <h4>
            материалы
          </h4>
          <p>

            Какие материалы нужно применить?
          </p>
        </div>
        <div class="why__block">
        <span>
          03
        </span>
          <h4>
            подрядчик
          </h4>
          <p>
            Выбор надежного, профессионального подрядчика для выполнения работ
          </p>
        </div>
        <div class="why__block">
        <span>
          04
        </span>
          <h4>
            детали
          </h4>
          <p>
            Как правильно сделать разуклонку кровли и водоотвод
          </p>
        </div>
      </div>
      <div class="why__content_man">
        <img src="img/old-man.png" alt="">
      </div>
    </div>
    <form action="" class="form">
      <div class="form__border">
        <h5>
          Получить консультацию
        </h5>
        <p>
          Встреча, консультация и смета – БЕСПЛАТНО. Это ни к чему вас не обязывает в будущем.
        </p>
        <div class="form__wrapper">
          <label>
            <input type="text" name="name" placeholder="Введите имя" required>
          </label>
          <label>
            <input type="tel" name="tel" placeholder="Введите телефон" required>
          </label>
          <button class="button button-form button-call">
            Заказать звонок
          </button>
        </div>
      </div>
    </form>
    
  </div>
</section>
