.vld-home-slider {
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height:100%;
	position:relative;
}

.vld-home-slider .swiper-slide {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.vld-home-slider .swiper-slide > div{position:relative;}
.vld-home-slider .swiper-slide figure{
	width:100%;
	float:left;
	margin:0;
	z-index:2;
	position:relative;
}
.vld-home-slider .swiper-slide figure img{
	display:block;
	margin:0 auto;
}
.vld-slider-content{
	top:50%;
	left:0;
	width:100%;
	margin:-113px 0 0;
	position:absolute;
}
.vld-slider-content h1{
	font-size:160px;
	line-height:146px;
	margin:0 0 30px;
	font-weight:bold;
}
.vld-slider-content h1 span{ color:#fff;}
.vld-slider-content .vld-btnbox{ text-align:right;}
.vld-slider-content .vld-btnbox h2{
	float:left;
	color:#fff;
	z-index:3;
	font-size:40px;
	line-height:37px;
	font-weight:bold;
	position:relative;
	margin:7px 0 6px 0;
}
.vld-slider-content .vld-btnbox .vld-btn{
	z-index:3;
	margin:0 0 0 25px;
	position:relative;
}
.vld-home-slider .vld-btn-next,
.vld-home-slider .vld-btn-prev{
	top:50%;
	width:60px;
	height:43px;
	z-index:5;
	cursor:pointer;
	font-size:16px;
	line-height:16px;
	margin:-30px 0 0;
	position:absolute;
	text-transform:uppercase;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
.vld-home-slider .vld-btn-next{
	right:20px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.vld-home-slider .vld-btn-prev{
	left:20px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.vld-home-slider .vld-btn-next span,
.vld-home-slider .vld-btn-prev span{
	display:block;
	text-align:center;
}
.vld-home-slider .vld-btn-next span.fa,
.vld-home-slider .vld-btn-prev span.fa{
	opacity:0;
	visibility:hidden;
	-webkit-transform: translateY(-35px);
	-moz-transform: translateY(-35px);
	-ms-transform: translateY(-35px);
	-o-transform: translateY(-35px);
	transform: translateY(-35px);
}
.vld-home-slider .vld-btn-next:hover span.fa,
.vld-home-slider .vld-btn-prev:hover span.fa{
	opacity:1;
	visibility:visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.vld-home-slider .vld-btn-next span:first-child,
.vld-home-slider .vld-btn-prev span:first-child{
	padding:0 0 10px;
	margin:0 0 10px;
	border-bottom:2px solid;
}
