.advantages
	padding: 120px 0 0
	background: url('../img/adv-bg.png') center bottom no-repeat
	+r(1199)
		padding: 100px 0 0
	+r(991)
		padding: 80px 0 0
	+r(767)
		padding: 60px 0 0
	+r(575)
		padding: 40px 0 0
	&__block
		display: flex
		margin-bottom: 60px
		+r(991)
			margin-bottom: 30px
		+r(767)
			flex-direction: column
		&:nth-of-type(even)
			flex-direction: row-reverse
			+r(991)
				flex-direction: row
			+r(767)
				flex-direction: column
			.advantages__text
				margin-left: 165px
				width: 525px
				+r(991)
					margin-left: 20px
				+r(767)
					padding-top: 0
					width: 100%
					margin-left: 0
					text-align: center
			.advantages__img
				width: 470px
				+r(991)
					width: 30%
				+r(767)
					width: 100%
				//&::before
				//	content: url('../img/polygon-2.png')
				//	position: absolute
				//	z-index: -1
				//	bottom: 0
				//	transform: translateX(-50%)
				//	+r(991)
				//		content: none
		&:nth-of-type(4)
			.advantages__img
				img
					margin-left: 130px
					margin-bottom: 80px
					+r(991)
						margin-left: 0
						margin-bottom: 0
					+r(767)
						margin: 0 auto 10px
	&__img
		position: relative
		&:nth-of-type(odd)
			width: 570px
			+r(991)
				width: 30%
			+r(767)
				width: 100%
			img
				position: relative
				display: block
				margin: 0 auto
				+r(991)
					width: 200px
					margin: 0
				+r(767)
					display: block
					margin: 0 auto 10px
	&__text
		width: 600px
		position: relative
		padding-top: 100px
		+r(991)
			margin-left: 20px
		+r(767)
			padding-top: 0
			width: 100%
			margin-left: 0
			text-align: center
		h3
			font-family: $default-font
			font-weight: 500
			font-size: 36px
			color: $diesel
			text-transform: uppercase
			padding-bottom: 20px
			margin-bottom: 40px
			position: relative
			line-height: 1.2em
			+r(767)
				font-size: 28px
				padding-bottom: 10px
				margin-bottom: 5px
			+r(575)
				font-size: 20px
			&:before
				content: ''
				width: 50px
				height: 4px
				background: $chateau-green
				position: absolute
				bottom: 0
				left: 0
				+r(767)
					left: 50%
					transform: translateX(-50%)
		&_content
			position: relative
			p
				font-family: $default-font
				font-weight: 300
				font-size: 18px
				line-height: 1.77em
				color: $scorpion
				+r(575)
					font-size: 14px
				&:last-of-type
					font-weight: 500
		&_description
			font-family: $default-font
			font-weight: 100
			font-size: 80px
			line-height: 1.2em
			position: absolute
			top: 12px
			left: -65px
			text-transform: uppercase
			color: $mystic
			z-index: -1
			+r(1199)
				font-size: 36px
				left: 0
			+r(767)
				position: relative
				margin-bottom: 10px
				font-size: 28px
				br
					display: none
			+r(575)
				font-size: 20px
