#map
	width: 100%
	height: 475px
	+r(767)
		height: 300px
	+r(575)
		height: 200px
.contacts
	position: relative
	&__block
		position: absolute
		z-index: 100
		background: $white
		left: 20%
		top: 120px
		padding: 60px
		border-radius: 6px
		box-shadow: 0 10px 40px 0 rgba(38, 55, 71, 0.2)
		&::after
			content: url('../img/elem.png')
			position: absolute
			right: -80px
			top: -40px
			+r(767)
				content: none
		+r(767)
			position: relative
			top: 0
			left: 0
			padding: 30px
		+r(575)
			padding: 15px
		p
			font-weight: 500
			font-size: 18px
			line-height: 1.7em
			color: $scorpion
			+r(767)
				font-size: 16px
				text-align: center
			+r(575)
				font-size: 14px
			a
				color: $scorpion
				transition: all .3s ease
				&:hover
					color: $ecstasy
					text-decoration: underline
			span
				font-weight: 300
