.first-screen
	padding: 215px 0 100px
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	color: $white
	text-align: center
	+r(991)
		.button
			margin-bottom: 30px
			&:last-of-type
				margin-bottom: 0
	+r(480)
		.button
			margin: 0 0 30px
	+r(575)
		padding: 150px 0 60px
	&__sub-title
		position: relative
		font-family: $default-font
		font-weight: 700
		font-size: 21px
		letter-spacing: 0
		line-height: 1em
		color: $carrot-orange
		margin-bottom: 20px
		+r(575)
			font-size: 18px
			margin-bottom: 10px
	&__list
		margin-bottom: 60px
		+r(991)
			margin-bottom: 30px
		+r(575)
			margin-bottom: 10px
		li
			display: inline-block
			padding-right: 20px
			font-weight: 400
			font-size: 18px
			position: relative
			+r(1199)
				display: block
				margin-bottom: 5px
			+r(575)
				font-size: 16px
			&::before
				content: '...'
				font-size: 16px
				font-family: $default-font
				font-weight: 700
				letter-spacing: 0.1em
			&:last-of-type
				padding-right: 0
	&__description
		position: relative
		margin-bottom: 30px
		strong
			font-family: $helper-font
			font-size: 200px
			color: $chateau-green
			line-height: 1em
			+r(575)
				font-size: 140px
		p
			position: absolute
			text-align: left
			left: 57%
			top: 35%
			font-weight: 600
			font-style: italic
			font-size: 24px
			line-height: 1.5em
			&::before
				content: url('../img/info-arrow.svg')
				position: absolute
				width: 40px
				height: 55px
				left: 50%
				top: 95%
			+r(575)
				position: relative
				left: 0
				top: 0
				text-align: center
				font-size: 20px
				line-height: 1.2em
				&:before
					content: none
