.header
	position: fixed
	top: 0
	right: 0
	left: 0
	transform: translateY(40px)
	transition: all .3s ease
	z-index: 1000
	&.scroll
		transform: translateY(0)
		transition: all .3s ease
	&__wrapper
		display: flex
		background: $white
		border-radius: 4px
		box-shadow: 2.5px 4.33px 25px 0 rgba(78, 77, 76, 0.1)
		.logo
			padding: 8px 0 7px 15px
			margin-right: 75px
			+r(1199)
				margin-right: 15px
				padding-left: 5px
			img
				display: block
				width: 171px
				height: auto
		.nav
			display: flex
			justify-content: space-between
			position: relative
			+r(1199)
				margin-right: 15px
			+r(991)
				display: none
				opacity: 0
				position: absolute
				flex-direction: column
				top: calc( 100% + 1px )
				background: $white
				border-radius: 4px
				box-shadow: 0 5px 5px 0 rgba(0,0,0,.3)
			&.active
				display: flex
				opacity: 1
			&__button
				position: relative
				width: 65px
				height: 65px
				border-radius: 0 4px 4px 0
				background-image: linear-gradient( to right, rgb(255,193,46) 0%, rgb(240,134,22) 100%)
				transition: all .3s ease
				display: none
				+r(991)
					display: block
				+r(575)
					margin-left: auto
				&_bar
					position: absolute
					width: 36px
					height: 4px
					background: $white
					left: calc( 50% - 18px)
					top: calc( 50% - 2.5px)
					transition: all .3s ease
					&::before, &::after
						content: ''
						position: absolute
						width: 36px
						left: calc( 50% - 18px)
						height: 4px
						background: $white
						transition: all .3s ease
					&::before
						top: -10px
					&::after
						top: 10px
				&.active
					.nav__button_bar
						background: transparent
						transition: all .3s ease
						&::before, &::after
							top: 0
							transition: all .3s ease
						&::before
							transform: rotate(45deg)
						&::after
							transform: rotate(-45deg)
			li
				display: block
				a
					display: block
					text-transform: uppercase
					font-size: 16px
					color: $pickled-bluewood
					font-weight: 400
					line-height: 1em
					padding: 24px 19px 23px
					border: 1px solid transparent
					transition: all .3s ease
					position: relative
					+r(1199)
						padding-left: 10px
						padding-right: 10px
					+r(991)
						padding-left: 40px
						padding-right: 40px
						transition: all .3s ease
						&::after, &::before
							content: none
					&:hover
						transition: all .3s ease
						background-image: linear-gradient( 180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.05) 100%);
						+r(991)
		.callback
			display: flex
			flex-direction: column
			border-radius: 4px
			background-image: linear-gradient( to left, rgb(68,183,89) 0%, rgb(100,190,85) 47%, rgb(131,197,80) 100%);
			padding: 8px 27px 7px 67px
			text-align: right
			margin-left: auto
			margin-right: 0
			+r(1199)
				padding: 8px 15px 7px 25px
			+r(991)
				border-radius: 4px 0 0 4px
			+r(575)
				position: absolute
				top: 100%
				transform: translateY(262px)
				min-width: 229px
				border-radius: 4px
				text-align: left
				padding-left: 40px
				display: none
				box-shadow: 0 5px 5px 0 rgba(0,0,0,.3)
			&.active
				display: flex
			a
				display: block
			&__tel
				font-family: $helper-font
				font-weight: 700
				font-size: 28px
				color: $white
				line-height: 1em
				position: relative
				letter-spacing: 0.05em
				min-width: 160px
				&::before
					content: url('../img/call.svg')
					position: absolute
					left: -47px
					top: 0
					width: 20px
					height: 20px
					+r(1199)
						content: none
				&::after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 0
					background: $white
					transition: all .3s ease
				&:hover
					&::after
						height: 2px
						transition: all .3s ease
			.callback-modal_open
				display: inline-block
				font-family: $helvetica-font
				color: $mint-green
				font-size: 12px
				position: relative
				text-decoration: underline
				&:hover
					text-decoration: none
				//&::after
				//	content: ''
				//	position: absolute
				//	bottom: 3px
				//	left: 0
				//	width: 100%
				//	height: 1px
				//	background: $mint-green
				//	transition: all .3s ease
				//&:hover
				//	&::after
				//		height: 0
				//		transition: all .3s ease

