.how-we-works
	padding: 110px 0 80px
	background: url('../img/how-we-work-bg.jpg') no-repeat top center
	background-size: cover
	min-height: 1805px
	+r(1199)
		padding: 100px 0 80px
	+r(991)
		padding: 80px 0
		min-height: auto
	+r(767)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	.container
		position: relative
	.title
		position: relative
		z-index: 1
	&__steps-block
		background: url('../img/diagram.png') no-repeat center top
		height: 1200px
		width: 1230px
		position: absolute
		left: -15px
		right: 0
		top: 0
		+r(1199)
			background: url('../img/diagram-small.png') no-repeat left
			position: relative
			width: 100%
			height: 100%
			min-height: 700px
			left: 0
			bottom: 0
			background-size: cover
		+r(991)
			background: none
			min-height: auto
	&__step
		position: absolute
		cursor: pointer
		display: inline-block
		z-index: 1
		+r(991)
			position: relative
			display: block
			br
				display: none

		&:hover
			.how-we-works__step_number
				color: $white
				span
					color: $ecstasy
				&::before
					background: $ecstasy
					transform: scale(1.4)
				&::after
					background: $white
					transform: scale(1.4)
		&:nth-of-type(1)
			top: 580px
			left: 40px
			+r(1199)
				top: 450px
				left: 40px
			+r(991)
				left: 0
				top: 0
		&:nth-of-type(2)
			left: 230px
			top: 240px
			+r(1199)
				left: 160px
				top: 135px
			+r(991)
				left: 0
				top: 0
			.how-we-works__step_number
				&::before
					top: 170px
				&::after
					top: 174px
		&:nth-of-type(3)
			left: 440px
			top: 450px
			+r(1199)
				top: 325px
				left: 350px
			+r(991)
				left: 0
				top: 0
			.how-we-works__step_number
				&::before
					top: -68px
				&::after
					top: -64px
		&:nth-of-type(4)
			left: 625px
			top: 200px
			+r(1199)
				left: 480px
				top: 70px
			+r(991)
				left: 0
				top: 0
			.how-we-works__step_number
				&::before
					top: 180px
				&::after
					top: 184px
		&:nth-of-type(5)
			left: 820px
			top: 440px
			+r(1199)
				left: 660px
				top: 325px
			+r(991)
				left: 0
				top: 0
			.how-we-works__step_number
				&::before
					top: -73px
				&::after
					top: -69px
		&:nth-of-type(6)
			left: 1020px
			top: 70px
			+r(1199)
				left: 750px
				top: 10px
			+r(991)
				left: 0
				top: 0
			.how-we-works__step_number
				&::before
					top: 234px
				&::after
					top: 238px
		&_number
			font-family: $default-font
			font-size: 18px
			text-transform: uppercase
			font-weight: 500
			color: $fiord
			position: relative
			margin-bottom: 25px
			transition: all .3s ease
			+r(991)
				margin-bottom: 10px
			&::before,
			&::after
				content: ''
				position: absolute
				border-radius: 50%
				transition: all .3s ease
				+r(991)
					display: none
			&::before
				width: 18px
				height: 18px
				background: $white
				top: -50px
				left: 20px
			&::after
				width: 10px
				height: 10px
				background: $mine-shaft
				top: -46px
				left: 24px
			span
				font-family: $helper-font
				font-weight: 700
				font-size: 44px
				color: $chateau-green
				line-height: 1em
				transition: all .3s ease
		&_text
			font-size: 14px
			color: $white
			&:nth-last-child(1)
				.button
					text-align: center
			span
				color: $fiord
				margin-left: 20px
				line-height: 1em
				margin-right: 20px
			p
				margin-bottom: 10px
				+r(991)
					margin-bottom: 0
	&__wrapper
		position: relative
		padding-top: 570px
		+r(1199)
			padding-top: 0
		.form
			background: url('../img/form-bg-2.jpg')
			background-size: cover
			background-position: right
			+r(991)
				background: url('../img/form-bg-4.jpg')
				background-size: cover
			+r(767)
				padding: 0
				background-position: -100px 0
			+r(575)
				background-position: right
			+r(520)
				background-position: center
			+r(420)
				background-position: -140px 0
			+r(400)
				background-position: -160px 0
			+r(375)
				background-position: -180px 0
			+r(365)
				background-position: -210px 0
			+r(350)
				background-position: -250px 0
			&__border
				+r(767)
					border: none
					padding: 40px 15px 20px
			&__wrapper
				+r(991)
					flex-direction: column
					align-items: flex-start
					justify-content: flex-start
					.button
						margin-left: 0
				label
					+r(991)
						margin-bottom: 15px
						margin-left: 0
					+r(575)
						font-size: 12px
			.idea-fix
				display: none
				+r(991)
					display: block
					margin: 0 auto
				+r(400)
					width: 100%

			h5
				text-align: left
			p
				text-align: left
				max-width: 360px

			input
				+r(575)
					font-size: 12px
	&__slider
		+r(991)
			padding-top: 30px
		&_wrapper
			border-radius: 6px 6px 0 0
			background: $white
			margin: 0 70px
			+r(1199)
				margin: 0
			.swiper-button-next, .swiper-container-rtl .swiper-button-prev
				background-image: url('../img/arrow-right.svg')
				right: auto
				left: 70px
				+r(1199)
					left: calc( 50% + 5px)
			.swiper-button-prev, .swiper-container-rtl .swiper-button-next
				background-image: url('../img/arrow-left.svg')
				left: 30px
				+r(1199)
					left: auto
					right: calc( 50% + 5px)
			.swiper-button-next, .swiper-button-prev,
			.swiper-button-next-two, .swiper-button-prev-two
				top: 90%
				+r(1199)
					top: 95%
			.swiper-slide
				position: relative
				padding: 60px 0
				min-height: 300px
				display: flex
				+r(1199)
					flex-direction: column
				.how-we-works__slider
					&_text
						width: 400px
						padding-left: 30px
						+r(1199)
							width: calc( 100% - 60px)
						+r(575)
							padding: 0 10px
							width: calc( 100% - 20px)
						h3
							font-family: $default-font
							font-weight: 300
							font-size: 24px
							line-height: 1.3em
							margin-bottom: 25px
							+r(767)
								text-align: center
							+r(575)
								font-size: 18px
					&_author
						display: flex
					&_img
						width: 75px
						height: 75px
						margin-right: 30px
						+r(575)
							margin-right: 5px
						img
							width: 75px
							height: 75px
							object-fit: cover
							border-radius: 50%
					&_info
						h4
							font-weight: 600
							font-size: 18px
							line-height: 1.33em
							margin-bottom: 25px
					&_review
						position: relative
						max-height: 136px
						overflow: auto
						margin-bottom: 30px
						p
							font-size: 12px
							margin-bottom: 5px
							line-height: 1.75em
		&_container
			width: 50%
			+r(767)
				width: 90%
			.swiper-slide
				position: relative
				min-height: auto
				padding: 0
				img
					width: 100%
					height: auto
					max-height: 300px
					margin-bottom: 40px
					object-fit: cover
					+r(991)
						max-height: 250px
			.swiper-pagination-bullet-active
				background: $ecstasy
		.before, .after
			position: absolute
			bottom: 25px
			z-index: 10
			color: $scorpion
			right: 5%
			&:before
				content: ''
				position: absolute
				width: 1px
				height: 20px
				background: $ecstasy
				bottom: 50%
		.before
			right: 45%
			+r(1199)
				right: auto
				left: 5%
			&::before
				left: -5px
		.after
			&::before
				right: -5px
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	background: $pickled-bluewood
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover
	background: $pickled-bluewood
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
	background: $pickled-bluewood
