.modal
	margin-top: 5%
	transform: scale(0.8)
	width: 100%
	max-width: 1024px
	.form
		margin: 0
	&_close
		position: absolute
		right: 10px
		top: 0
		z-index: 1000
		background: transparent
		font-size: 40px
		color: $white
		transition: all .3s ease
		&:hover
			color: red
			transition: all .3s ease
.popup_visible
	.modal
		transform: scale(1)
#thanks
	background: $white
	border-radius: 6px
	padding: 30px 15px
	.title
		margin-bottom: 0
.thanks
	&_close
		position: absolute
		right: 10px
		top: 0
		z-index: 1000
		background: transparent
		font-size: 40px
		color: $ecstasy
		transition: all .3s ease
		&:hover
			color: red
			transition: all .3s ease
.up-scroll
	position: fixed
	width: 50px
	height: auto
	bottom: 50%
	right: 5%
	opacity: 0
	cursor: pointer
	animation: scroll-anim .4s infinite
	+r(991)
		display: none
	&.scroll
		opacity: 1
	@keyframes scroll-anim
		0%
			transform: translateY(0)
		20%
			transform: translateY(2px)
		50%
			transform: translateY(0)
		80%
			transform: translateY(-2px)
		100%
			transform: translateY(0)
	&:hover
		animation: none
