.why
	padding: 120px 0 0
	background: url('../img/why-bg.png') center top no-repeat
	+r(1199)
		padding: 100px 0 0
	+r(991)
		padding: 80px 0 0
	+r(767)
		padding: 60px 0 0
	+r(575)
		padding: 40px 0 0
	&__question
		font-family: $default-font
		font-weight: 600
		font-style: italic
		font-size: 21px
		color: $black
		text-align: center
		display: inline-block
		line-height:  1.28em
		padding: 15px 90px
		border-radius: 40px
		background-color: rgb(255, 251, 248)
		box-shadow: 2.5px 4.33px 25px 0 rgba(78, 77, 76, 0.1)
		max-width: 525px
		margin-left: 115px
		margin-bottom: 90px
		position: relative
		&::before
			content: ''
			background: url('../img/question.svg')
			position: absolute
			left: -10px
			top: -5px
			width: 30px
			height: 30px
			display: block
			box-shadow: 2.5px 4.33px 25px 0 rgba(78, 77, 76, 0.1)
			border-radius: 50%
		+r(1199)
			margin-left: 60px
		+r(991)
			margin-left: 0
			margin-bottom: 60px
			font-size: 18px
		+r(575)
			font-size: 16px
			padding: 10px 15px
			margin-bottom: 20px
	&__block
		width: 270px
		margin-bottom: 25px
		+r(1199)
			width: 250px
		+r(767)
			width: 50%
		+r(575)
			width: 100%
			margin-bottom: 10px
		&:nth-of-type(odd)
			margin-right: 30px
			+r(1199)
				margin-right: 10px
			+r(767)
				margin-right: 0
		span
			font-family: $helper-font
			font-weight: 700
			font-size: 48px
			color: $black
			position: relative
			display: block
			margin-bottom: 10px
			line-height: 1em
			+r(575)
				margin-bottom: 0
			&::before
				content: ''
				width: 100px
				height: 10px
				position: absolute
				background: $white
				bottom: 5px
				border-bottom: 1px solid $ecstasy
		h4
			font-family: $default-font
			font-weight: 500
			font-size: 20px
			text-transform: uppercase
			color: $ecstasy
			margin-bottom: 10px
		p
			font-weight: 300
			line-height: 1.7em
		&_wrapper
			width: 50%
			display: flex
			flex-wrap: wrap
			margin-bottom: 50px
			+r(1199)
				width: 60%
			+r(991)
				width: 75%
			+r(767)
				width: 100%
	&__content
		display: flex
		align-items: flex-start
		&_man
			position: relative
			&::before
				content: ''
				background: url('../img/question.svg')
				position: absolute
				left: 60px
				top: -130px
				width: 30px
				height: 30px
				display: block
				box-shadow: 2.5px 4.33px 25px 0 rgba(78, 77, 76, 0.1)
				border-radius: 50%
				+r(1199)
					left: 40px
				+r(991)
					left: 20px
					top: -80px
			&::after
				content: ''
				background: url('../img/question.svg')
				position: absolute
				left: 110px
				top: -110px
				width: 20px
				height: 20px
				display: block
				box-shadow: 2.5px 4.33px 25px 0 rgba(78, 77, 76, 0.1)
				border-radius: 50%
				+r(1199)
					left: 80px
				+r(991)
					left: 60px
					top: -50px
			+r(767)
				display: none
			img
				position: absolute
				top: -200px
				left: 70px
				+r(1199)
					left: 0
				+r(991)
					width: 300px
					top: -50px
.form
	position: relative
	margin: 0 70px
	background: $black
	z-index: 100
	border-radius: 0 0 6px 6px
	background: url('../img/form-bg.jpg') center top no-repeat
	background-size: cover
	padding: 10px
	+r(1199)
		margin: 0
	+r(575)
		.button
			font-size: 12px
	h5
		color: $chateau-green
		text-align: center
		text-transform: uppercase
		font-weight: 600
		font-size: 36px
		line-height: 1em
		margin-bottom: 25px
		+r(991)
			font-size: 32px
			margin-bottom: 15px
		+r(767)
			font-size: 28px
			margin-bottom: 10px
		+r(575)
			font-size: 24px
	p
		color: $white
		text-align: center
		margin-bottom: 35px
		+r(575)
			margin-bottom: 15px
			font-size: 12px
	&__border
		position: relative
		width: 100%
		height: calc( 100% - 20px)
		border: 1px solid rgba(255,255,255,.5)
		border-radius: 0 0 6px 6px
		padding: 60px 20px 40px
		+r(575)
			padding: 40px 10px 20px
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
		+r(991)
			flex-wrap: wrap
			align-items: center
			justify-content: center
	label
		position: relative
		max-width: 270px
		width: 100%
		+r(1199)
			max-width: 220px
		+r(991)
			margin: 0 30px 30px
		+r(575)
			margin: 0 10px 20px
		&.error
			color: $white
			position: absolute
			top: -10px
			left: 0
			font-size: 12px
			background: red
			text-align: center
			width: 100%
			margin: 0
			border-radius: 4px 4px 0 0



